// .green{
//     color:  #6cb33f;
//     font-size: 13px;
// }
.green{
    color:#4DCFE0;
    font-size: 13px;
}

.folder-detail{
    border-bottom: 1px solid rgb(196, 192, 192);
    padding:12px 20px;
}
.content{
    color: #A1A4B1;
    text-align:center;
    font-size: 13px;
}
.red{
    color: #EB5757;
    font-size: 13px;
}
.yellow{
    color: #F6A609;
    font-size: 13px;
}
.skyblue{
    color: #5597E3;
    font-size: 13px;
}
.orange{
    color: #F2994A;
    font-size: 13px;
}
.parent-col-padding{
    padding-top:11px;
}
