.reports-header {
  margin-top: 1em;
  border-bottom: 2px solid #c5c5c5;
  width: 100%;
}

.pagenumber {
  background-color: #0072c6;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  font-size: 13px;
  text-align: center;
  color: white;
}

.margin-l-1 {
  margin-left: 1em;
}

.margin-t-1 {
  margin-top: 1em;
}

.margin-r-1 {
  margin-right: 1em;
}

.reportsDropdown {
  border-bottom: 2px solid blue;
  color: blue;
  font-size: 0.8em;
}

.dashboard-select {
  padding: 6px 6px 6px 6px;
  width: 100%;
  position: relative;
  color: #9e9e9e;
  background: #ffffff;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/assets/Web/down_arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.table-header {
  color: black;
}

.table-data {
  color: grey;
}

tr.mat-header-row {
  height: 2em;
  background-color: #add8e6;
  color: black;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0 2% !important;
}

.selected{
    background-color: #e5e5e5!important;
}
