//trash
.card-padding{
  width: 85vw !important;
}
.title2{
  font-size: 16px;
  font-weight: 600;
  color: #6e8aca;
  margin-top: 18px !important;
  margin-bottom: 0px !important;
  text-decoration: underline;
  text-decoration-color: #6e8aca;
  text-underline-offset:5px;
}



.icons {
  width: 65%;
  place-content: flex-end !important;
}

.trashchild{
  padding-top: 8px;
  text-align: center;
} 

.tableheader{
  background-color: #ADD8E6;
  color: black;
  font-weight: bold;
 }

.trashborder{
  border-top: 8px solid #c5c5c5;
  border-right: 2px solid #c5c5c5;
  border-left: 2px solid #c5c5c5;
  border-radius: 7px 7px 0px 0px;
}

.trashborderactive{
  border-top: 8px solid #0072C6;
  border-right: 2px solid #c5c5c5;
  border-left: 2px solid #c5c5c5;
  border-radius: 7px 7px 0px 0px;
}
.trashchildactive{
  padding-top: 8px;
  text-align: center;
  color: #0072C6;
}

.detailkey{
  text-align:left;
  color: #4DCFE0;
  padding-left: 30px;
}
.detailkeylog{
  text-align:left;
  padding-left: 30px;
}
.detailvalue{
  text-align:left;
  padding-left: 10px;
  word-wrap: break-word
}

.mat-column-action{
  text-align: left !important;
}


.mat-header-cell .mat-column-action{
  padding: 0 0% !important;
}


.table-data td.mat-cell, .table-data td.mat-footer-cell, .table-data th.mat-header-cell {
  padding: 0 0 0 0.6% !important;
  width:  23.2% !important;
  word-break: break-word;
}

.icons{
  width: 75% !important;
}



.red{
  color: #EB5757;
  font-size: 13px;
}
.yellow{
  color: #F6A609;
  font-size: 13px;
}
.skyblue{
  color: #5597E3;
  font-size: 13px;
}
.orange{
  color: #F2994A;
  font-size: 13px;
}

.rowback{
  background-color:black;
}
.demo-row-is-clicked {
  background-color: #e6edee;
}

.myarrow{
  font-size: 28px !important;
line-height: 7px;
cursor:pointer;
}

.p_15{
  padding: 0 15px !important;
}

.m-10{
  margin-top: 20px;
}

// .m-r-5{
//   margin-right: 5% !important;
//   margin-top: 40px !important;
// }

.mat-mini-fab.mat-accent{
  background: #0072C6 !important;
  color:#fff !important
}

.selectedfile{
  opacity: 0.8;
  background-color:rgba(243, 243, 243, 0.724);
}

tr{
  height: 42px;
}