// @import "../../../../src/styles.scss";

// .mat-dialog-container {
//   //scrollbar
//   ::-webkit-scrollbar {
//     width: 15px;
//     height: 4px;
//     background-color: #e5e5e5;
//     height: 4px;
//   }

//   ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px #857f7f;
//     border-radius: 10px;
//   }

//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: url(assets/Web/scroll.png) !important;    
//     background-repeat: no-repeat;
//     border-radius: 10px;
//   }

//   :root {
//     scrollbar-color: $toolbar-background #e5e5e5 !important;
//     scrollbar-shadow-color: inset 0 0 5px #888888 !important;
//   }
// }

.mat-dialog-container{
  overflow: hidden !important;

}
.folder-select {
  background-color: #e5e5e5;
  color: black;
  font-weight: bold;
}
