.cancel-btn2 {
    margin-top      : 20px !important;
    width           : 120px;
    border          : 1px solid #a9a9a9 !important;
    background-color: white;
    border-radius: 14px !important;
  }
  .deletedialog{
    padding: 2em 2em 2em 1em;
    align-items: center;
  }
  .font{
    font-size:12px;
  }
  