<div fxLayout="column wrap" style="padding:15px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="height:2.5rem" fxLayoutAlign="space-between start" [fxShow]="true" [fxHide]="false">
    <div fxFlex="40"   class="title">
      Access Control</div>
    <div fxLayout="row wrap"   class="access-action-btn " fxLayoutGap="10px" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
      <button mat-button class="edit-btn" [ngClass]="{&apos;disabled-btn&apos; : selection[&apos;selected&apos;].length === 0 || selection[&apos;selected&apos;].length &gt; 1 }" (click)="editResource()" [disabled]="selection[&apos;selected&apos;].length === 0 || selection[&apos;selected&apos;].length &gt; 1">Edit</button>
      <button mat-button class="delete-btn" [ngClass]="{&apos;disabled-btn&apos; : selection[&apos;selected&apos;].length === 0 }" (click)=" deleteGrpDilogue()" [disabled]="selection[&apos;selected&apos;].length === 0">Delete</button>
      <button mat-button class="create-btn" [ngClass]="{&apos;disabled-btn&apos; : selection[&apos;selected&apos;].length >= 1 }" [disabled]="selection[&apos;selected&apos;].length &gt; 0"routerLink="/home/accessAction/groups/create">Create New</button></div>
    </div>
    <mat-divider style="margin-bottom: 1rem;"></mat-divider>
  <div style="width:100%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 privilege-grp-table" style="width:100%">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="headerPrivilegeList">
          <!-- <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
				[indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
			</mat-checkbox> -->
        </th>
        <td mat-cell *matCellDef="let row;let index=index">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null; assignCheckedIndex(selection.isSelected(row) , index)" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="headerPrivilegeList"> Privilege Group </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Users Column -->
      <ng-container matColumnDef="users">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;" class="headerPrivilegeList"> Users </th>
        <td mat-cell *matCellDef="let element">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <span *ngIf="!element.users.length==0" style="color:blue;text-decoration:underline" class="pointer" (click)="userNameList(element.users || []);$event.stopPropagation()">{{element.users.length}}</span>
            <span *ngIf="element.users.length==0" style="color:rgb(0, 0, 0)">{{element.users.length}}</span>
          </div>
        </td>
      </ng-container>

      <!-- User Groups Column -->
      <ng-container matColumnDef="userGroups">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;" class="headerPrivilegeList"> User Groups </th>
        <td mat-cell *matCellDef="let element">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <span *ngIf="!element.userGroups.length==0" style="color:blue;text-decoration:underline" class="pointer" (click)="usergroupNameList(element.userGroups || []);$event.stopPropagation()">{{element.userGroups.length}}</span>
            <span *ngIf="element.userGroups.length==0" style="color:rgb(0, 0, 0)">{{element.userGroups.length}}</span>
          </div>
        </td>
      </ng-container>

      <!-- Created By Column -->
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef class="headerPrivilegeList"> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.createdBy || &apos;Admin&apos;}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row);">
      </tr>
    </table>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="end center" style="margin-top: 2em; margin-bottom: 1em; margin-right: 1em;" [fxShow]="true" [fxHide]="false">
    <mat-icon *ngIf="page_Index > 1" style="cursor: pointer;"  (click)="onArrowLeft()">keyboard_arrow_left</mat-icon>
    <ul class="pagination" style="display: flex;">
      <span class="pagenumber" style="background-color: #0072C6;
      border-radius: 10px;
      height: 20px;
      width: 20px;
      font-size: 13px;
      text-align: center;
      color: white;">{{page_Index}}</span>
    </ul>
    <mat-icon *ngIf="enableLoadMore" style="cursor: pointer;" (click)="onArrowRight()">keyboard_arrow_right</mat-icon>
  </div>
</div>
