.bottom-border {
  border-bottom: 1px solid #eeeeee;
}
.dilogue-btn {
  width: 120px;
  border-radius: 0px;
  border: 1px solid #a1a4b1;
}
// .green {
//   background-color: #5ea73e;
//   color: white;
// }

.green{
  background-color:#4DCFE0;
  color:white;
}

.btn-color{
  background-color:#0072c6;
  color:white;
}

.restore-btn{
  width: 8em;
  border-radius: 0.6em;
  border: 1px solid #9c9c9c;
}


.txt-area-bg{
  width: 100%;
  border-radius: 0.3em;
  background-color: white;
}

.restore-header{
  border-radius: 0.55em; 
  margin-left: -1px; 
  height: 3em; 
  background-color: #0072c6;
}

.color-wh{
  color: white;
}

.restore-btn-div{
  border-top: 1px solid #8d8d8d; height: 3em;
}

.btn_box {
  padding: 20px;
}
.dilogue-textarea-content {
  color: #828282;
  border: 1px solid #bdbdbd;
  margin: 15px 0px;
  padding: 25px 16px;
  height: 154px;
  
}
.dilogue-textarea {
  margin: 20px 20px;
  word-break: break-all;
}
.crossIcon{
  width: 20px;
  position: relative;
  top: -19px;
  left: 9px;
}
.moveTitle {
  background: #0072c6 !important;
  padding: 11px;
  border-radius: 7px;
}
